.liuxin {
    &-hoverable {
        transition: box-shadow .25s;
        box-shadow: 0;
        &:hover {
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
    &-nopb {
        padding-bottom: 0px !important;
    }
    &-nom{
        margin: 0px !important;
    }
    &-nomb {
        margin-bottom: 0px !important;
    }
}
